<div class="buttons-container">
  <a routerLink="/add-trip" routerLinkActive="active">
    <button class="add-trip">Dodaj wycieczkę</button></a>
</div>
<div class="container">




<div class="trip-container">

  <div class="trip-info"
  *ngFor=" let trip of getTrips()  ">

  <button class="rem-trip" (click)="removeTrip(trip)">Usuń</button>
      <picture>
        <a routerLink="/trips/{{trip.id}}">
          <img src="{{trip.img1}} "alt="{{trip.name}}">
        </a>
      </picture>
      <div class="content">
          <p class="name">{{trip.name | uppercase}}</p>
          <p class="desc"><b>{{trip.destination | uppercase}}</b></p>
          <p class="desc">{{trip.startingDate | date}} - {{trip.endingDate | date}}</p>
          <p class="desc">{{trip.description}}</p>
          <hr class="line">
          <span id="price">Cena: {{trip.price | currency}} </span>

            <div class="add-remove">
                <span class="bot">Ilość miejsc:{{trip.quantity}}

                </span>
            </div>
        </div>


</div>
</div>
</div>
