
.trip-info{
  border: 2px solid rgb(197, 197, 197);
  min-width: 335px;
  min-height: 500px;
  border-radius: 5px;
  width: 20%;
  text-align: left;
  margin: 2% auto 2% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -1;

  background-image: linear-gradient(rgb(255, 255, 255), rgb(233, 233, 233));
  /* background-image: linear-gradient(rgb(203, 253, 230), rgb(87, 255, 185)); */
  -webkit-box-shadow: 0px -1px 32px -18px rgba(75, 90, 66, 1);
-moz-box-shadow: 0px -1px 32px -18px rgba(75, 90, 66, 1);
box-shadow: 0px -1px 32px -18px rgba(75, 90, 66, 1);
transition:500ms ease all;
z-index: 1;
}
.trip-container{
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  border-radius: 5px;
  /* margin-left: 200px; */


}
.name{
  font-size: larger;
  color: rgb(255, 115, 0);
  font-weight: bold
}

img{

  display: block;

    width: 200px;
    height: 200px;
    border-radius: 100% ;
    margin:  5% auto;
    -webkit-box-shadow: 0px 0px 32px 2px rgba(75, 90, 66, 1);
    -moz-box-shadow: 0px 0px 32px 2px rgba(75, 90, 66, 1);
    box-shadow: 0px 0px 32px 2px rgba(75, 90, 66, 1);
}
.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.del{
  padding: 5px;
  background-color: orangered;
    border-radius: 10px;
    color: white;
    margin-left: 10px;

}
.del:hover{
  background-color: rgb(165, 64, 27);
  cursor: pointer;

}
.content{
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
}
.name{
  font-size: 1.5em;
  font-weight:bold;


}
hr{
  width: 100%;
}
.add-remove{
  display: flex;
  flex-direction: row;
  justify-content: baseline;
}

.bot{
  padding: 1em 1em 1em 0;
}
.ar{
  margin-left: 0.5em;
  margin-right: 0.5em;
  height: 1.5em;
  background-color: rgb(255, 115, 0);
  border: none;
  width: 20px;
  border-radius: 4px;
  color: white;


}

p{
  margin-top: 0;
  /* width: auto;
  max-width: 300px; */
  line-break: anywhere;

}
